@charset "utf-8";

html {}

body {}

/* header */
header {
    padding: 15px 30px 15px;
    background: #186AC9;
}

#head {
    display: flex;
}

.user-name {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    text-align: center;
    margin: auto 0;
}

/* ↓ 基本閉まっているように */
nav {
    display: none;
    position: absolute;
}

.title {
    width: 40%;
}

.side-user {
    display: flex;
    margin: 0 0 0 auto;
}

.accordion-container {
    display: flex;
    position: relative;
    float: right;
    outline: 0;
    border-top: none;
    outline: 0;
    margin: 0 0 0 auto;
}

.accordion-container p {
    transition: 0.3s;
}

.menu-btn {
    border-right: solid 3px #fff;
    border-top: solid 3px #fff;
    content: "";
    height: 15px;
    position: relative;
    right: 25px;
    top: 38%;
    transform: rotate(135deg);
    /* transition: transform .3s ease-in-out, top .3s ease-in-out; */
    width: 15px;
}

.accordion-container ul {
    position: absolute;
    left: -235px;
    top: 81px;
    width: 335px;
    font-size: large;
}

.menu-btn.active {
    top: 45%;
    transform: rotate(-45deg);
}

.profile {
    color: #fff;
}

.home {
    color: #636b6f;
}

.logout {
    color: #636b6f;
}

.li-others {
    background-color: #fff;
}

.li-profile {
    background-color: #00297e;
}

.icon-img {
    width: 55px;
    height: 55px;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.menu {
    position: absolute;
    top: 75px;
    width: 100%;
    height: 50px;
    left: 70px;
    border-color: darkblue;
    display: flex;
    background-color: #fff;
    text-align: center;
    flex-flow: column;
}

.accordion-container ul li {
    padding: 20px;
    border: 1px solid;
    white-space: nowrap;
    text-align: center;
}

#side-ber {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
