@charset "utf-8";

html {}

body {}

/* header */
header {
    padding: 15px 30px 15px;
    background: #186AC9;
}

#head {
    display: flex;
}

.user-name {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    text-align: center;
    margin: auto 0;
}

/* ↓ 基本閉まっているように */
nav {
    display: none;
    position: absolute;
}

.title {
    width: 40%;
}

.side-user {
    display: flex;
    margin: 0 0 0 auto;
}

/* .accordion-container {
    display: flex;
    position: relative;
    float: right;
    outline: 0;
    border-top: none;
    outline: 0;
    margin: 0 0 0 auto;
} */

.accordion-container p {
    transition: 0.3s;
}

.accordion-container ul {
    position: absolute;
    /* ↑子要素 */
    left: -235px;
    top: 67px;
    width: 335px;
    font-size: large;
}

.menu-btn {
    border-right: solid 3px #fff;
    border-top: solid 3px #fff;
    content: "";
    height: 15px;
    position: relative;
    /* ↑親要素 */
    right: 25px;
    top: 38%;
    transform: rotate(135deg);
    /* transition: transform .3s ease-in-out, top .3s ease-in-out; */
    width: 15px;
}

.accordion-container:hover {
    cursor: pointer;
}

/* ↑".accordion-container"を選ぶことによって矢印以下全てにホバーが効く */

.menu-btn.active {
    top: 45%;
    transform: rotate(-45deg);
}

.accordion-nav ul li {
    background-color: #fff;
}

.accordion-nav ul li:hover {
    background-color: #186AC9;
}

.accordion-nav ul a {
    color: #186AC9;
}

/* .accordion-nav ul a:hover {
    color: #fff;
} */
/* ↑だとa(文字)にホバーしないと色が変わらない */

.accordion-nav ul li:hover a {
    color: #fff;
}

/* ↑ならul liにホバーしたときにaが変化する */

.icon-img {
    width: 55px;
    height: 55px;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.menu {
    position: absolute;
    top: 75px;
    width: 100%;
    height: 50px;
    left: 70px;
    border-color: darkblue;
    display: flex;
    background-color: #fff;
    text-align: center;
    flex-flow: column;
}

.accordion-container ul li {
    padding: 20px;
    border: 1px solid;
    white-space: nowrap;
    text-align: center;
}

#side-ber {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.post-container {
    display: flex;
    padding: 25px 0 25px;
    border-bottom: 5px solid #e0e0e0;
}

#post {
    width: 60%;
    height: 120px;
    border: 0px none;
    background-color: #f5f8fa;
    font-size: large;
    padding: 5px;
}

.post-button {
    width: 5px;
    height: 5px;
    align-self: flex-end;
    margin-left: 20px;
}

.post-button img {
    width: 45px;
    height: 45px;
    position: relative;
    bottom: 40px;
    right: 15px;
}

.icon-img-search {
    margin: 0 10px 0 60px;
    width: 50px;
    height: 50px;
}

.post-list {
    margin-left: 30px;
}

.edit-img,
.delete-img,
.delete-img-hover {
    width: 55px;
    height: 55px;
}

.post-delete {
    position: relative;
}

.post-delete img {
    transition: opacity 0.5s;
}

.post-delete:hover img:first-of-type {
    opacity: 0;
}

.post-delete img:last-of-type {
    position: absolute;
    top: 7px;
    left: 13px;
    opacity: 0;
}

.post-delete:hover img:last-of-type {
    opacity: 1;
}

.search-bar {
    margin-left: 50px;
}

.search-result {
    margin-left: 50px;
}

/* .search-button {
    width: 55px;
    height: 55px;
} */

/* .search-image {
    width: 55px;
    height: 55px;
} */

.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.btn-follow {
    color: #fff;
    background-color: #3097D1;
    border-color: #2a88bd
}

.btn-un_follow {
    color: #fff;
    background-color: #E74C3C;
    border-color: #2a88bd
}
